<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buchin.jadwalbuchin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HolidayActivity"
            android:label="Holidays" />
        <activity
            android:name=".Teacher.TeacherActivity"
            android:label="Teachers" />
        <activity
            android:name=".GradeActivity"
            android:label="Average: " />
        <activity
            android:name=".Reminder.ReminderActivity"
            android:label="Reminders" />
        <activity
            android:name=".HomeWorkActivity"
            android:label="Homeworks" />
        <activity
            android:name=".TestActivity"
            android:label="Calendar" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".Teacher.InsertTeacher"
            android:label="Add Teacher" />
        <activity android:name=".Teacher.EditTeacher" />
        <activity android:name=".Reminder.InsertReminder" />
        <activity android:name=".Reminder.EditReminder"></activity>
    </application>

</manifest>